
<div class="card_Main">

		{{#each userPosts as |post|}}
			
			<section class = "card_Section">
				<div>User Id: {{post.id}}</div>
				<div>Helmet: {{post.helmet}}</div>
				<div>Armor: {{post.armor}}</div>
				<div>Weapon: {{post.weapon}}</div>
				<div>Cape: {{post.cape}}</div>
				<div>About: {{post.about}}</div>
			</section>
		
		{{/each}}

		
</div>

