
<div class="card_Main">
	{{#each userPosts as |post|}}
		<div>{{post.id}}</div>
		<div>{{post.helmet}}</div>
		<div>{{post.armor}}</div>
		<div>{{post.weapon}}</div>
		<div>{{post.cape}}</div>
		<div>{{post.about}}</div>
	{{/each}}
</div>

